body {
    font-family: 'Arial', sans-serif;
    background-color: #F0F9F8; 
    margin: 0;
    padding: 20px;
    color: #4C4C4C;
}

h2 {
    font-size: 26px;
    margin-bottom: 10px;
}

h1, h2, h3 {
    color: #F5A2BE;
    text-align: center;
}

.container {
    background-color: #FFD5DD; 
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #C6E6E3;
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #81BFB7; 
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

li {
    background-color: #C6E6E3;
    margin: 8px auto;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    width: 90%;
    text-align: left;
}
